@import 'color';
@import 'variables';
@import 'global';
@import 'checkboxes';
@import 'forms/forms';

// Colors
// $primary-500: #510d0a;
$primary-500: #21412a;
$primary-600: #3E0000;

$accent-yellow: #f0cf65;
$accent-blue: #93b5c6;
$accent-silver: #cec3c1;
$accent-salmon: #d7816a;

$fus-green: #21412a;
$fus-yellow: #ffc658;
$fus-light-red: #af7871;
$fus-red: #8a391b;
$fus-light-green: #80967a;
$fus-light-blue: #8e9fbc;
$fus-dark-blue: #1f2a44;
$fus-green: #21412a;
$fus-gold: #998643;

$black-87: rgba(0, 0, 0, .87);



// Colors
#green-theme {
  background-color: $fus-green;
}

#red-theme {
  background-color: $primary-500;
}

#red-green-theme {
  background-color: $fus-green;
  border: 10px solid $primary-500;
  line-height: 37px;
}


.black-text {
  color: rgba(0, 0, 0, .87) !important;

}

.italic {
  font-style: italic;
}

html {
  color: #fff;
  -webkit-backface-visibility: hidden;
  // -webkit-transform-style: preserve-3d;

}


.lean-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform:translateZ(0);
}
body {
  background-color: #fafafa;
  background-image: url(../img/fleur2.svg);
  background-size: 20%;
  background-attachment: fixed;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  //-webkit-transform-style: preserve-3d;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 76px;
    line-height: 76px;
  }
}

nav {
  // background-color: $primary-500;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  padding: 0 10px;
  transition: top 0.2s ease-in-out;
  height: 64px;
  line-height: 64px;
  // border-bottom: solid 2px $fus-gold;

  @media only screen and (min-width: 601px) {
    height: 76px;
    line-height: 76px;
  }

  .button-collapse {
    color: #fff;

    i {
      line-height: 73px;
      font-size: 3.5rem;

      @media only screen and (min-width: 601px) {
        line-height: 77px !important;
      }
    }
  }

  ul a {
    color: #fff;
    font-weight: 300;
  }

  .brand-logo {
    img {

      height: 48px;
      margin-top: 8px;

      @media only screen and (min-width: 601px) {
        height: 48px;
      }

      @media only screen and (max-width: 520px) {
        display: none;

        .small-screen-logo {
          display: block;
        }
      }

    }
    .small-screen-logo {
      display: none;

      @media only screen and (max-width: 520px) {
          display: block;
      }
    }
  }

  .apply-btn {

    a {
      border: 1px solid #fff;
      line-height: 3;
      transition: all 0.3s;

      &:hover {
        background-color: #fff;
        color: $black-87;
      }
    }

  }

}

.side-nav {
  a {
    font-weight: 300;
  }

  .logo {
    height: 90px;

    a {
      padding: 10px 10px 0px 10px;

      &:hover {
        background-color: #fff;
      }
    }

    img {
      width: 90%;
    }
  }
}

//headroom.js styles
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

main {
  flex: 1 0 auto;
  margin-top: -56px;
//-webkit-transform:translateZ(0);

  @media only screen and (min-width: 601px) {
    margin-top: -64px;
  }
}

.section {
  padding: 100px 0;
  -webkit-transform:translateZ(0);
  @media screen and (max-height: 578px) {
    padding: 25px 0;
  }
}

// TODO: Change this to work with the :before element that now has the background image

// @mixin section-backgrounds($img, $img-med, $img-lg, $img-x-lg) {
//   background: {
//     color: $primary-500;
//     image: url($img);
//     attachment: scroll;
//     //size: auto 100vh
//     size: cover;
//     position: top center;
//   };
//
//   @media only screen and (min-width: 501px) {
//     background: {
//       image: url($img-med);
//     };
//   }
//
//   @media only screen and (min-width: 601px) {
//     background: {
//       image: url($img-lg);
//       attachment: fixed;
//     };
//   }
//
//   @media only screen and (min-width: 1200px) {
//     background: {
//       image: url($img-x-lg);
//       attachment: fixed;
//     };
//   }
// }

// TODO: Put holy door images here
// #home {
//   @include section-backgrounds("../img/top-img-500w.jpg", "../img/top-img-650w.jpg", "../img/top-img-1300w.jpg", "../img/test.png");
// }


#home {
   min-height: 100vh;
   padding-top: 0;
   background-color: rgba(0, 0, 0, 0.4);
  //  background-image: url('../img/holy-door-1400w-min.jpg');
  //    background-attachment: fixed;
  //    background-position: center center;
  //    background-size: cover;
  padding: 0px;

  .btn-large {
    font-size: 20px;
    text-shadow: none;
    min-width: 270px;
  }

  @media screen and (max-height: 578px) {
    padding-top: 76px;

    .container p.flow-text {
      display: none;
    }
  }

  .parallax {
    z-index: 1;
    overflow: hidden;
    left: -250px;
    min-height: 100vh;
  }

  .vid-shade {
    background-color: rgba(0, 0, 0, 0.31);
    left: 0;
  }

  .valign.container {
    z-index: 2;
  }

  .flow-text {
    font-size: 120%;
    line-height: 1.5;
  }

  // TODO: Un-comment this when the hero video is added
  @media screen and (min-width: 800px) {
    background: none;
  }

  #replay, #pause {
    display: none;

    @media screen and (min-width: 800px) {
      display: block;
      position: fixed;
      bottom: 16px;
      right: 16px;
      cursor: pointer;
      opacity: .5;
      font-size: 48px;
    }
  }

  .vid-btns {
    display: none;

    @media screen and (min-width: 800px) {
      display: block;
    }
  }

  #replay.scroll, #pause.scroll {
    @media screen and (min-width: 800px) {
      position: absolute;
    }
  }
}

#home:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  //background-image: url('../img/holy-door-500w-min.jpg');
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 100%;
  //height: 100%;
  min-height: 100vh;
  top: 0;
  // -webkit-filter: opacity(.95);
  // filter: opacity(.5);

  // @media only screen and (min-width: 801px) {
  //   background-attachment: fixed;
  //   display: none;
  // }
  //
  // @media only screen and (min-width: 501px) {
  //    background-image: url('../img/holy-door-650w-min.jpg');
  //  }
  //
  // @media only screen and (min-width: 601px) and (max-width: 800px) {
  //   background-image: url('../img/holy-door-1400w-min.jpg');
  //   // background-image: url('../img/holy-door-open.jpg');
  //
  // }
  //
  // @media only screen and (max-height: 410px) {
  //   min-height: 200vh;
  // }



}

.short-screen {
  display: none;
  @media screen and (max-height: 578px) {
    display: block;
  }
}

#bgvid {
  min-width: 100%;
  min-height: 100%;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

#down-icon {
  position: relative;
  margin: (-90px) auto 0;
  display: block;
  width: 90px;
  opacity: 0.2;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }
}

#quote-banner {
  padding: 50px 0px;

  @media screen and (max-height: 578px) {
    padding: 15px 0px;
  }

  @media only screen and (max-height: 410px) {
    background-color: #fafafa;
    background-image: url(../img/fleur2.svg);
    background-size: 20%;
    background-attachment: fixed;
   }
}

#why-franciscan {
  background-color: $primary-500;
  padding: 25px 0;
  border-top: 5px solid #998643;
  border-bottom: 5px solid #998643;
}

.card-video {
  -webkit-transition: box-shadow .25s;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  margin-bottom: 50px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.activator {
  cursor: pointer;
}

.txt-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.btn-inverse {
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: #fff;
    color: $black-87;
  }
}

#pick-your-program {

  .card {
    .card-title {
      line-height: 1;
    }

    .card-content {
      padding: 24px 16px 16px 16px;

      p {
        margin-top: 16px;
      }
    }

    .card-action {
      border-top: none;
      padding: 8px 16px 16px 16px;

      a:not(.btn):not(.btn-large):not(.btn-floating) {
        color: $accent-blue;
        margin-right: 20px;
        transition: color .3s ease;
        text-transform: uppercase;

        &:hover {
          color: lighten($accent-blue, 10%);
          cursor: pointer;
        }
      }
    }

    a {
      color: $accent-yellow;
    }
  }

  .card-reveal {
    .card-action {
      padding-left: 0;
      padding-bottom: 0;
      position: absolute;
      bottom: 16px;
    }
  }

  .collapsible {

    .collapsible-header {
      min-height: 0;
      line-height: 1.2;
      padding: 16px;
    }

    .collapsible-body {
      background-color: #fff;

      p {
        padding: 24px 16px 16px 16px;
      }
    }

    .card-action {
      border-top: none;
      padding: 8px 16px 16px 16px;
      text-transform: uppercase;

      a {
        color: $accent-blue;
        padding-right: 8px;
        cursor: pointer;

        &:hover {
          color: lighten($accent-blue, 10%);
        }
      }
    }
  }
}

#pop-up-banner {
  background-color:$fus-gold;
//  border-top: solid 5px $fus-gold;
  padding: 10px 8px;
  position: fixed;
  bottom: 0;
  width:100%;
  z-index: 999;
  transform: translateY(100%);
  cursor: pointer;

  .row {
    margin-bottom: 0;

    h6 {
      font-size: 16px;
    }
  }
}

#program-banner {
  background-color: $primary-500;
  padding: 50px 0px;
  border-top: 5px solid #998643;
  border-bottom: 5px solid #998643;

  @media screen and (max-height: 578px) {
    padding: 15px 0px;
  }

  h5 {
    margin-bottom: 16px;
  }

  p {
    font-weight: 200;

    .bold {
      font-style: normal;
      white-space: pre;
    }

    .bullet {
      font-style:normal;
      padding: 0 5px;
    }
  }
}

#testimonials {

  .expansion-container.hide {
    display: none;
    transform: translateY(-100%);
  }

  .expansion-container.show {
    display: block;
    transform: translateY(0);
  }

  .btn-large {
    background-color: $primary-500;
    margin: 0 auto;
    max-width: 160px;
    display: block;
  }
}

#success {
  p {
    padding: 0 20px;
  }
}

.hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  width: 50%;
  display: block;
  margin: 0 auto;
}

.bold {
  font-weight: 500;
}

.modal {
  color: rgba(0,0,0,0.87);
}

.modal.bottom-sheet {
  max-height: 75%;
}

#program-modal {
  position: fixed !important;

  .btn-large {
    background-color: $primary-500;
  }

  #results-btn-row {
    margin-bottom: 50px;
  }

  .container.hide {
    display: none;
  }

  .container.show {
    display: block;
  }

  #submit-info {
    margin-top: 16px;
  }


}

.social-icons{
  margin-top: 32px;

   a {

     i {
       color: $fus-gold;
       font-size: 25px;
       transition: all .3s;

      //  &:hover {
      //    color: $fus-green;
      //  }
     }

   .social-icon {
     width: 34px;
     margin-top: -3px;

    //  &:hover {
    //    path {
    //      fill: $fus-green;
    //    }
    //  }

     path {
       fill: $fus-gold;
       transition: all .3s;
     }
   }
  }
}

#why-franciscan {

  a {

    i {
      color: #fff;
    }

    path {
      fill: #fff;
    }
  }
}

.apply-btn {
  cursor: pointer;
}

.call-mike {
  a {
    color: $fus-gold;
  }
}

#contact {
  background-color: $fus-green;
  border-top: 5px solid $fus-gold;
  padding: 25px 0 0 0;

  .social-icons {

    a {

      i {
          color: #fff;
      }

      path {
        fill: #fff;
      }
    }


  }

  // input:-webkit-autofill {
  //   background-color: transparent !important;
  //   color: #fff !important;
  // }
}

#apply-modal {
  background-image: url(../img/fleur2.svg);
  background-size: 20%;

  .modal-content {

    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

  .collection {
    max-width: 600px;
    margin: 0 auto;

    .collection-header {

      h4 {
        margin-bottom: 0;
      }
    }

    .collection-item {
      cursor: pointer;
      color: $black-87;
      //min-height: 52px;
      //line-height: 30px;
      padding: 16px 16px 16px 16px;

      &:hover {
        background-color: $primary-500;
        color: #fff;
      }
    }

    .secondary-content {
      color: $fus-gold;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}

footer.page-footer {
  // background-color: $primary-600;
  background-color: $primary-500;
  margin-top: 0px;
  padding-top: 0px;
  border-top: solid 5px $fus-gold;

  .row {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

footer.is-ios {
  border-top: none;
  background-color: $fus-gold;
}

.footer-copyright {
  a {
    margin-right: 10px;
  }
}
